      "volumes_attributes":
      {% for disk in disks %}
      {
        "{{ disk.id }}":
        {
          "datastore": "{{ disk.datastore }}",
          "size_gb": "{{ size }}",
          "thin": "thin",
          "eager_zero": "yes"
        }
      },
      {% endfor %}
      "scsi_controller_type": "VirtualLsiLogicController",
      "image_id": "some/stuff-1.0",
      "start": "1"
    }
